.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: linear-gradient(270deg, #28a808,#8d2e96, #5c0372);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.logo img {
    width: 30%; /* Adjust according to your logo size */
}




/* src/AnimatedCarousel.css */

.login {
    border-radius: 3px;
    padding: 15px 30px;
    width: 100%;
    background: linear-gradient(3deg, #c20dc9, #ff0bde);
    background-size: 400% 400%;
    animation: gradientAnimation 8s ease infinite;
    color: white; /* Assuming you want white text on the button */
    text-align: center; /* Center text inside the button */
    cursor: pointer; /* Change cursor to pointer when hovering over the button */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Ensure text doesn't overflow the button */
    text-overflow: ellipsis; /* Add ellipsis if text overflows */
    position: relative; /* Positioning context for the pseudo-element */
    margin-right: 10px;
    border-radius: 100px;
  }
  
  .login::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; /* Start off-screen to the left */
    width: 40%;
    height: 100%;
    background: rgb(255 255 255 / 75%);/* Semi-transparent white line */
    transform: skewX(-45deg); /* Skew the line */
    animation: swipeAnimation 4s linear infinite; /* Swiping animation */
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes swipeAnimation {
    0% {
      left: -100%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: -100%;
    }
  }
  
  /* Media query for smaller screens */
  @media (max-width: 600px) {
    .login {
      padding: 12px;
      font-size: 14px;
    }
  }
  







.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 15px;
    font-weight: bolder;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    
}

.nav-links li a:hover {
    color: #f326fa;
    border-bottom: 5px solid;
    transition: 1ms ease-in-out;
}

.user-actions a {
    text-decoration: none;
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: #eff3f3;
    font-family: Arial, Helvetica, sans-serif;
}

.user-actions {
    display: flex;
}

.hamburger {
    display: none; /* Hide hamburger menu by default */
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    background-color: #ff9100;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px;
    transition: all 0.3s ease;
}

.hamburger.open .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.hamburger.open .line:nth-child(2) {
    opacity: 0;
}

.hamburger.open .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
}

@media only screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .signup{

        display: none;
    }
    .user-actions a:not(:last-child) {
        display: none;
    }

    .hamburger {
        display: flex; /* Display hamburger menu on mobile */
    }
}
