.home-container {
    background-color: #f5f5f5;
    
    background-image: url('bg1.webp'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 400px; /* Adjust initial height as needed */
    align-items: center;
    display: flex;
    justify-content: center;
    background-blend-mode: overlay;
    background-color: #100e018c;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}



.order-btn{

    border: none;
    padding: 15px 30px;
    background-color: #47b300;
    border:0px solid;
    border-color: #f5f5f5;
    max-width: 40%;
}

.main-ec-p{
    color: #ffffff;
    font-weight: bold;
}

.center-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
}





@media only screen and (max-width: 768px) {
   



    .services{
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 40%;
        
    
        gap: 20px;
    }
}



.home-container-img{
    width: 300px;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: start;
    
}



.heading {
    font-size: 36px;
    color: #91d1d5;
}




.main{
    background-color: #e6fff7;
}



.container{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.services{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 35px;
    justify-content: center;
    

    gap: 20px;
}

.SERVICE{
    color: #04043a;
}

.OUR{

    color: #ff5a0e;
}

.mainitems{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 2px;
    justify-content: center;
    padding: 20px;
}


.item-img{
    width: 30%;
}

.items{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0px 1px 15px -3px rgba(4, 5, 70, 0.288);
}

.service-text{
    font-size: small;
    margin-top: -30px;
    text-align: center;
}





@media only screen and (max-width: 768px) {

    .mainitems{
        display: flex;
        flex-direction: column;
    }
    .SERVICE{
        color: #04043a;
        font-size: 25px;
    }
    .OUR{

        color: #bbfb0a;
        font-size: 25px;
    }


    .home-container-img{
        display: none;

    }

    .home-container{
        display: flex;
        flex-direction: column;
    }

}